<!DOCTYPE html>
<head>
 <title> Buro </title>
 <link href="style.css" rel="stylesheet" type="text/css"/>
<!-- / Begin Body -->
<div class='swanky'>
  <!-- / Introduction Block -->
  <div class='swanky_title'>
    <h1>Buró de contracargos</h1>
    <p>Compras seguras para todos</p>
  </div>
  
  <!-- /////////// Begin Dropdown //////////// -->

  </div>
  <!-- ///// -->
  <div class='swanky_wrapper'>
    <input id='Users' name='radio' type='radio'>
    <label for='Users'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png'>
      <span>Users</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Perfil</li>
          <li>Votar users</li>
          <li>Sign out</li>
        </ul>
      </div>
    </label>
    <input id='Settings' radio='radio' type='radio'>
    <input id='Dashboard' name='radio' type='radio'>
    <label for='Dashboard'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/dash.png'>
      <span>Dashboard</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Por fecha</li>
          <li>Por banco</li>
        </ul>
      </div>
    </label>
    <input id='Sales' name='radio' type='radio'>
    <label for='Sales'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png'>
      <span>Compras con contracargo</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Total compras</li>
        </ul>
      </div>
    </label>
    <input id='Messages' name='radio' type='radio'>
    <label for='Messages'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
      <span>Messages</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Inbox</li>
          <li>Outbox</li>
          <li>Sent</li>
          <li>Archived</li>
        </ul>
      </div>
      
      
    </label>
    
  </div>

   
  <!-- /////////// End Dropdown //////////// -->
</div>


  <div class='swanky_new'>
     
<iframe width="700" height="450" src="https://datastudio.google.com/embed/reporting/c13b5b2f-10d4-4f9f-9cc4-72fd1d0b6f43/page/qWidC" frameborder="0" style="border:0" allowfullscreen></iframe>
       
  </div>
<!-- / My Footer -->

