<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/transition.css">
</head>

<body>
    <div class="loader-wrapper">
        <section class="left">
            <h1>CCAA</h1>
            <h3>chargeback consultant and analyzer</h3>
            <p>Analizador de contracargos elaborado por manos mexicanas, brindando los más altos estandares de seguridad.</p>
            <p class="text-footer">Sitio y API 100% puma</p>
        </section>
        <section class="right">
            <img src="/static/img/phone.png" alt="">
            <a href="/templates/user_dash.html">Continuar</a>
        </section>
    </div>

</body>

</html>